/*
Using Flex-box layout - the best solution introduced with CSS3

First three rules are for reset
*/
 
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd,
q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

#banner {
	width:100%;
	height: 110px;
	background-color: #ccf3ff;
	z-index: 1;
}
#placeholder {
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin-top: none;

	display: box;
	-webkit-box-orient: vertical;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;

}




#header {
	-webkit-box-flex:3;
	width:100%;
	height: 110px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;

	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-ms-box-orient: horizontal;

	background-color: #ccf3ff;
	z-index: 2;
}

#logo {
	-webkit-box-flex:1;
	color: orange;
	text-decoration: bold;
	font-size: 32px;
	z-index: 3;


}

#menu {
	-webkit-box-flex:2;
	height: 35px;
	margin: auto;
	width: 90%;
	position: relative;



}


#menu_buttons {
	height: 100px;


}

#menu li {
	list-style-type: none;
	display: block;
	text-align: center;
	float: right;	
}

#menu a {
	text-decoration: none;
	color: #ffffef; 
	font-size: 18px;
	background-color: #2B4F66;
	margin-bottom: .5px;
	margin-right: 1px;
	border-radius: 5px;
	padding: 10px;
}

#menu a:hover {
	background-color: #ccf3ff;
/*	box-shadow: 3px 3px 3px gray;*/
	border: none;
	color: gray;
}

#article {
	-webkit-box-flex:10;	
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;

	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-ms-box-orient: horizontal;

	border: 1px gray inset;
	margin: 5px 0;
	padding: 3px;
	overflow: auto;

		
}

#footer {
	-webkit-box-flex:1;	
	display: block;
	text-align: center;
}


#web_dev, #mob_dev, #automato {
	-webkit-box-flex:1;	
	border: 1px gray inset;
	margin: 10px;

}


fieldset {
	margin-left: 10px;
}

